*{
    padding: 0 px;
    margin: 0 px ;
    box-sizing: border-box;

}
.carousel-item{
    height: 32rem;

    position: relative;
}
.container{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

